.signupDiv {
  display: flex;
  justify-content: center;
    align-items: center;
  height: 100vh;
  background: linear-gradient(
      rgba(253, 249, 249, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("https://www.princeton.edu//sites/default/files/images/2017/06/20060425_NassauHall_JJ_IMG_5973.jpg")
      center;
  height: 95vh;
}

.signupForm {
  margin-top: 3cm;
  background-color: white;
  width: 15cm;
  height: 13cm;
  border-radius: 10px;

  // align-items: center;
}

.mainform {
}
